.container{
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 20px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
}
.span span{
    position: absolute;
    margin-left: -10px;
    background-color: red;
    padding: 2px;
    border-radius: 20px;
}