.container video{
  position: absolute;
  object-fit:cover;
  width: 100%;  
  height: 100%;
  z-index: -1;
  top: 0;

}
.header{
  margin: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.container{
  color: white;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    gap: 15px;
}
.main h1{
  font-size: 70px;
  text-decoration: overline;
}
.main p{
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
.main button{
  font-size: 25px;
  padding: 15px;
  background-color: darkgray;
  border: none;
  cursor: pointer;
  color: white;
  width: 20rem;
  border-radius: 20px;
  outline: none;
}
.log{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log input{
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: gray;
  color: white;
  outline: none;
}
.log ::placeholder{
  color: white;
}
.google{
  display: flex;
  border: 1px solid white;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}












/* .main video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.main{
  color: white;
} */