.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header img{
    background-color: white;
    border-radius: 20px;
}
.container{
     background-color: black;
     height: 100%;
     color: white;
}
.search{
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 20rem;
    margin-left: 50px;
    padding: 5px;
     border-radius: 20px;
     margin-top: 20px;
     margin-bottom: 15px;
}
.search input{
    border: none;
    outline: none;
    font-size: 20px;
    background-color: grey;
}
.search ::placeholder{
    color: white;
}
.request{
    display: flex;
    gap: 10px;
    margin: 15px;
}

.line{
    display: flex;
    margin: 30px;
    gap: 10px;
    color: white;
}
.line img{
    background-color: white;
    border-radius: 30px;
}
.obs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}