.container{
    background-color: black;
    height: 100vh;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header img{
    background-color: white;
    border-radius: 20px;
}
.main{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10rem;
    border-bottom: 1px solid white;
    transition: 0.5s;
}
.all{
    display: flex;
    justify-content: center;
    padding: 20px;
}