.header{
    display: flex;
    margin: 30px;
    gap: 10px;
    color: white;
}
.header img{
    background-color: white;
    border-radius: 30px;
}
.obs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lewa{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}
.like{
    display: flex;
    gap: 6.5rem;
    padding: 10px;
}